@import "tailwindcss";

:root {
  --background: #e6e0e0;
  --foreground: #1d1a1a;
  --brand-primary: #164840;    /* Dark Green */
  --brand-secondary: #34b69d;  /* Mint Green */
  --brand-accent: #d9c3ba;     /* tan */
  --font-handwriting: var(--font-handwriting);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-accent: var(--brand-accent);

  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui;
  --font-handwriting: var(--font-handwriting);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);;
}

.font-handwriting {
  font-family: var(--font-handwriting), cursive !important;
  font-weight: 400 !important;
}